
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sliding Menu</title>
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link  rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
  <!-- for spinner -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
   <!-- Chart JS Plugin for displaying text over chart -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.1.0/chartjs-plugin-datalabels.min.js"></script>
   <!-- Script -->
   <script defer src="../js/script.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Didact+Gothic&display=swap" rel="stylesheet">

<!-- spinner ends -->

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>

    <script type = "module" src="../js/home.js" defer charset="utf-8"></script>

</head>

<body>

<!-- header -->
<header class="top-logo-section">

    <div id="logo">
      <a></a>
    </div>
    <div class="header_balance">
      Balance : <span class="s_balance">0.00</span>
    </div>
  </header>

<div id="main-box">


  <div class="main-menu">
    <ul>
      <section class="home">
        <li class="events menu-item">
          <i class="fa fa-home"></i>
          Events</li>

        <li class="profile_btn menu-item">
          <i class="fa-solid fa-user-group"></i>
          Profile</li>

        <li class="promotion menu-item">
          <i class="fa-solid fa-chart-line"></i>
          Promotion</li>
      </section>
      <section class="links">
        <li class=" affiliate menu-item">
          <i class="fa-solid fa-people-roof">
          </i>Affiliate</li>
        <li class="tutorial menu-item">
          <i class="fa-regular fa-circle-play"></i>
          Tutorial</li>
        <li class="records menu-item">
          <i class="fa-solid fa-scroll"></i>
          Records</li>
        <li class="virtual_league menu-item">
          <i class="fa-solid fa-gamepad"></i>
          Virtual League</li>
        <li class="trade-list menu-item">
          <i class="fa fa-hashtag"></i>
          Trade's</li>
      </section>
    </ul>
  </div>

  <div class="main-section">

    <section class="match-section">

      <div class="slider">
        <section class="carousel" aria-label="Gallery">
          <ol class="carousel__viewport">
            <li id="carousel__slide1"
                tabindex="0"
                class="carousel__slide">
              <div class="carousel__snapper">
                <a href="#carousel__slide4"
                   class="carousel__prev">Go to last slide</a>
                <a href="#carousel__slide2"
                   class="carousel__next">Go to next slide</a>
              </div>
            </li>
            <li id="carousel__slide2"
                tabindex="0"
                class="carousel__slide">
              <div class="carousel__snapper"></div>
              <a href="#carousel__slide1"
                 class="carousel__prev">Go to previous slide</a>
              <a href="#carousel__slide3"
                 class="carousel__next">Go to next slide</a>
            </li>

            <li id="carousel__slide3"
                tabindex="0"
                class="carousel__slide">
              <div class="carousel__snapper"></div>
              <a href="#carousel__slide2"
                 class="carousel__prev">Go to previous slide</a>
              <a href="#carousel__slide4"
                 class="carousel__next">Go to next slide</a>
            </li>

            <li id="carousel__slide4"
                tabindex="0"
                class="carousel__slide">
              <div class="carousel__snapper"></div>
              <a href="#carousel__slide3"
                 class="carousel__prev">Go to previous slide</a>
              <a href="#carousel__slide1"
                 class="carousel__next">Go to first slide</a>
            </li>
          </ol>

        </section>

      </div>
      <!-- slider popup -->
      <div class="slider-popup">
        <div class="aff-cut-box">
          <ion-icon name="chevron-back-outline"></ion-icon>Back
        </div>
        <div class="background">
        </div>
      </div>

      <div id="matches_box" class="matches-box">

        <!-- live matches will be added here -->

      </div>
      <!-- spinner - popup -->

    {{{spinner}}}
      <!-- <div class="spinner_pop_btn">
        <ion-icon name="sparkles-outline"></ion-icon>
      </div> -->

    </section>

  <section class="pc-profile-section">
      <div id="profile-box">
        <div class="profile-logo">

        </div>

        <form id="profile-info">

          <ul>
            <li><span>name </span><span class="s_name">Hey There</span> </li>
            <li><span>vip</span> <span class="s_vip">VIP LOGO</span> </li>
            <li><span>Deposited</span> <span class="s_balance">0000.00</span> </li>
            <li><span>trades</span> <span class="s_trades">0.00</span> </li>
            <li><span>invitations </span><span class="s_members">00</span> </li>
          </ul>

        </form>

      </div>
    </section>

  </div>

</div>

<section id="bet-box">
  <div class="aff-cut-box">
    <ion-icon name="chevron-back-outline"></ion-icon>Back
  </div>

  <div class="bet-team">
    <span class="details_fillup">team1</span>
    <span style="font-size : 25px;
        color : red"; >v/s</span>
    <span class="details_fillup">team2</span>
  </div>
  <div class="match-start-time">
    <span>match starts at</span>
    <span class="details_fillup">4:40</span>
  </div>
  <div class="bets-condition">
    <span>full time</span>
  </div>

 <!-- for league id -->
  <p class=" details_fillup id"></p>
  <!-- for date -->
  <p class="details_fillup id"></p>
  <!-- for league -->
  <p class="details_fillup id"></p>

  <div class="bets-info">

    <div class="b-table-info b-table-headings">
      <span>ITEM</span>
      <span>profit</span>
      <span>Quantity</span>
    </div>

    <div class="b-table">

      <div class="b-table-info f-child-padding">
        <span>0-0</span>
        <span>0.0%</span>
        <span>BET</span>
      </div>

      <div class="b-table-info">
        <span>0-1</span>
        <span>0.0%</span>
        <span>BET</span>
      </div>
      <div class="b-table-info">
        <span>0-2</span>
        <span>0.0%</span>
        <span>BET</span>
      </div>
      <div class="b-table-info">
        <span>0-3</span>
        <span>0.0%</span>
        <span>BET</span>
      </div>
      <div class="b-table-info">
        <span>1-0</span>
        <span>0.0%</span>
        <span>BET</span>
      </div>
      <div class="b-table-info">
        <span>1-1</span>
        <span>0.0%</span>
        <span>BET</span>
      </div>
      <div class="b-table-info">
        <span>1-2</span>
        <span>0.0%</span>
        <span>BET</span>
      </div>
      <div class="b-table-info">
        <span>1-3</span>
        <span>0.0%</span>
        <span>BET</span>
      </div>
      <div class="b-table-info">
        <span>2-0</span>
        <span>0.0%</span>
        <span>BET</span>
      </div>
      <div class="b-table-info">
        <span>2-1</span>
        <span>0.0%</span>
        <span>BET</span>
      </div>
      <div class="b-table-info">
        <span>2-2</span>
        <span>0.0%</span>
        <span>BET</span>
      </div>
      <div class="b-table-info">
        <span>2-3</span>
        <span>0.0%</span>
        <span>BET</span>
      </div>
      <div class="b-table-info">
        <span>3-0</span>
        <span>0.0%</span>
        <span>BET</span>
      </div>
      <div class="b-table-info">
        <span>3-1</span>
        <span>0.0%</span>
        <span>BET</span>
      </div>
      <div class="b-table-info">
        <span>3-2</span>
        <span>0.0%</span>
        <span>BET</span>
      </div>
      <div class="b-table-info">
        <span>3-3</span>
        <span>0.0%</span>
        <span>BET</span>
      </div>
      <div class="b-table-info">
        <span>4-4</span>
        <span>0.0%</span>
        <span>BET</span>
      </div>


    </div>

  </div>

  <div id="place-bets">
    <div class="place-bet-box">

      <div class="p-bet-top">

        <div style="color : green" class="score-condition p-bet">
          <h2 >full time</h2><h2>0-0</h2>
        </div>

        <div class="p-bet-teams p-griding">
          <span class="p_bet_filllup">team 1</span>
          <span style = "font-weight : bold">v/s</span>
          <span class="p_bet_filllup">team 2</span>
        </div>

        <div class="p-bet-time p-bet">
          <span class="p_bet_filllup">00/00/0000</span><span class="p_bet_filllup">0:00</span>
        </div>

        <div class="p-bet-amount">

          <div class="p-amount-heading p-griding">
            <span>amount</span>
            <span>profit</span>
            <span>available</span>
            <input type="number"value="" style="width : 100%">
            <span>0.0%</span>
            <span>0.00</span>
          </div>

          <div class="p-bet-amount-blocks">
            <span>1000</span>
            <span>2000</span>
            <span>5000</span>
            <span>10000</span>
          </div>

          <div class="p-bet-balance">
            <span>Balance</span>
            <span class="s_balance" style="color : green ; font-weight : bold;">0.00</span>
          </div>

        </div>

      </div>

      <div class="p-bet-bottom">
        <button name="p-submit">SUBMIT</button>
        <button name="p-cancel">cancel</button>
      </div>
    </div>
  </div>

</section>

<footer  class="mobile-main-menu footer">

    <div class="events f-logo-di">
      <a>
        <ion-icon name="home-outline"></ion-icon>
        <span>Events</span>
      </a>
    </div>
    <div class="records f-logo-di">
      <a>
        <ion-icon name="receipt-outline"></ion-icon>
        <span>Records</span>
      </a>

    </div>

    <div id="middle-one" class="f-logo-di">
      <a class="m_menue_section">
        <!-- <ion-icon name="grid-outline"></ion-icon> -->
        <!-- <span>Menu</span> -->
      </a>

    </div>

    <div class="trade-list f-logo-di">
      <a>
        <ion-icon name="newspaper-outline"></ion-icon>
        <span>Trade</span>
      </a>
    </div>
    <div class="profile_btn f-logo-di">
      <a>
        <ion-icon name="people-outline"></ion-icon>
        <span>Profile</span>
      </a>
    </div>

  </footer>


<div class="m-popup-menue">

    <div class="m-popup-return">
      <ion-icon name="chevron-down-outline"></ion-icon>
    </div>
    <div class="m-popup-list">
      <ul>

        <li class="affiliate"><i class="fa-solid fa-people-roof"></i>Affiliate center</li>

        <li class="virtual_league"><i class="fa-solid fa-gamepad"></i>Virtual League</li>

        <li class="promotion"><i class="fa-solid fa-chart-line"></i>Promotion's</li>

        <li class="tutorial"><i class="fa-regular fa-circle-play"></i>Tutorial</li>


      </ul>
    </div>

  </div>

<!-- creating different pages -->

<section class="pages" id="affiliate">

  <div class="aff-top">
    <div class="aff-name">
      <span class="s_name">Hey there</span>
    </div>
    <div class="aff-rebade-bonus">
      <div class="rebate">
        <span>affiliate rebate</span>
        <span class="s_rebade">0.00</span>
      </div>
      <div class="bonus">
        <span>promotion bonus</span>
        <span class="s_promotion">0.00</span>
      </div>
    </div>
    <div class="aff-blocks">
      <div class="aff_top_buttons aff-members">
        <ion-icon name="person-add-outline"></ion-icon>
        <span>Member's</span>
      </div>
      <div class="aff_top_buttons aff-report">
        <ion-icon name="receipt-outline"></ion-icon>
        <span>report</span>
        <!-- false page copy the whole shit and level 1 to level 6  = 12% -->
      </div>
      <div class="aff_top_buttons aff-records">
        <ion-icon name="cash-outline"></ion-icon>
        <span>records</span>
      </div>
    </div>
  </div>

  <div class="aff-bottom">
    <div class="aff-new-register">
      <ion-icon name="people-outline"></ion-icon>
      <span>New register</span>
    </div>
    <div class="aff-new-register">
      <ion-icon name="wallet-outline"></ion-icon>
      <span>New Deposits</span>
    </div>
    <div class="aff-new-register">
      <ion-icon name="football-outline"></ion-icon>
      <span>New Bets</span>
    </div>
    <div class="aff-new-register">
      <i class="fa-solid fa-money-bill-transfer"></i>
      <span>Total withdrawal</span>
    </div>
    <div class="aff-new-register">
      <i class="fa-solid fa-person-circle-plus"></i>
      <span>invite</span>
    </div>
  </div>

<!-- new register member + their members -->
<section class="aff-pop-register aff-pop-center">
     <div class="aff-cut-box">
       <ion-icon name="chevron-back-outline"></ion-icon>Back
     </div>
     <div class="aff-pop-innerbox">
       <div class="aff-innerbox-top">
         <div>
           <span>Total Members</span>
           <span class="s_members">0</span>
         </div>
         <div>
           <span>Sub Members</span>
           <span class="s_sub_members">0</span>
         </div>
       </div>
       <div class="aff-innerbox-bottom">
        <!-- dynamic content will be added here -->
       </div>
     </div>
   </section>

<!-- new deposit member + total deposits -->
<section class="aff-pop-register aff-pop-center">
     <div class="aff-cut-box">
       <ion-icon name="chevron-back-outline"></ion-icon>Back
     </div>
     <div class="aff-pop-innerbox">
       <div class="aff-innerbox-top">
         <div>
           <span>Total Members</span>
           <span>0</span>
         </div>
         <div>
           <span>Total Deposit</span>
           <span>0.00</span>
         </div>
       </div>
       <div class="aff-innerbox-bottom">
     <!-- dynamic content will be added here -->
       </div>
     </div>
   </section>

<!-- new bets member + bets played  -->
<section class="aff-pop-register aff-pop-center">
  <div class="aff-cut-box">
    <ion-icon name="chevron-back-outline"></ion-icon>Back
  </div>
  <div class="aff-pop-innerbox">
    <div class="aff-innerbox-top">
      <div>
        <span>Total Members</span>
        <span>0</span>
      </div>
      <div>
        <span>Total Bets</span>
        <span>0</span>
      </div>
    </div>
    <div class="aff-innerbox-bottom">

      <!-- dynamic content will be added here -->

    </div>
  </div>
</section>

<!-- total withdrawals member + withdrawal -->
<section class="aff-pop-register aff-pop-center">
  <div class="aff-cut-box">
    <ion-icon name="chevron-back-outline"></ion-icon>Back
  </div>
  <div class="aff-pop-innerbox">
    <div class="aff-innerbox-top">
      <div>
        <span>Total Members</span>
        <span>0</span>
      </div>
      <div>
        <span>Total withdrawal</span>
        <span>0</span>
      </div>
    </div>
    <div class="aff-innerbox-bottom">

      <!-- dynamic content will be added here -->

    </div>
  </div>
</section>

<!-- new invitation -->
<section class="aff-pop-register aff-pop-center">
  <div class="aff-cut-box">
    <ion-icon name="chevron-back-outline"></ion-icon>Back
  </div>
  <div>
    <h2>Your invitation link.</h2><br>
    <!-- <h3 class="s_invitation"></h3> -->
    <div class="invitaiton_link">
      <input type="text" disabled class="s_invitation" value="">
      <span class="invi_link_btn"><i class="fa-regular fa-copy"></i></span>
    </div>
  </div>
</section>

<!-- top-three buttons member list page member + profit earned by them-->
<section class="aff-pop-center aff-top-button_popups">
  <div class="aff-cut-box">
    <ion-icon name="chevron-back-outline"></ion-icon>Back
  </div>
  <div class="aff-pop-innerbox">
    <div class="aff-innerbox-top">
      <div>
        <span>Total Members</span>
        <span>0</span>
      </div>
      <div>
        <span>Total Profit</span>
        <span>0</span>
      </div>
    </div>
    <div class="aff-innerbox-bottom">

    <!-- dynamic content will be added here -->
    </div>
  </div>
</section>

<!-- report page member + deposits -->
<section id="report_page" class="aff-pop-center aff-top-button_popups">
  <div class="aff-cut-box">
    <ion-icon name="chevron-back-outline"></ion-icon>Back
  </div>
  <div class="aff-pop-innerbox">
    <div class="aff-innerbox-top">
      <div>
        <span>Total Members</span>
        <span>0</span>
      </div>
      <div>
        <span>Total Deposits</span>
        <span>0</span>
      </div>
    </div>
    <p style="display : flex; flex-direction : column;">
      <span>Level 1 agent rebate = Level 1 agent's revenue * 12% . </span>
      <span>Level 2 agent rebate = Level 1 agent's revenue * 6% . </span>
      <span>Level 3 agent rebate = Level 1 agent's revenue * 3% . </span>
      <span>Level 4 agent rebate = Level 1 agent's revenue * 2% . </span>
      <span>Level 5 agent rebate = Level 1 agent's revenue * 1% . </span>
      <span>Level 6 agent rebate = Level 1 agent's revenue * 1% . </span>
    <p>
  </div>
</section>

<!-- records section no data -->
<section id="no-data" class="aff-pop-center aff-top-button_popups">
  <div class="aff-cut-box">
    <ion-icon name="chevron-back-outline"></ion-icon>Back
  </div>
  <div class="aff-pop-innerbox">
    <div class="aff-innerbox-top">
      <div>
        <span>Total Members</span>
        <span>0</span>
      </div>
      <div>
        <span>Total Deposits</span>
        <span>0</span>
      </div>
    </div>
  </div>
</section>

</section>

<section class="pages" id="trade-list">
  <h3 style="color : black ; text-align : center; padding-top : 1rem;">TRADE'S</h3>
  <div class="matches-box">
    <!-- bets will be delivered dynamically -->
  </div>

  <div class="trade_del_box">
    <p class="del_leagueid" style= "display : none"></P>
    <h3>Delete this trade ?.</h3>
    <div class="trade_cut_querry deposit_buttons">
      <span>Delete</span>
      <span id="trade_del_canc">Cancel</span>
    </div>
  </div>

</section>

<!-- bet history page -->
<section class="pages" id="records">
  <h3 style="color : black ; text-align : center; padding-top : 1rem;">RECORDS</h3>
  <div class="matches-box">
  <!-- matches will be added dynamically -->
  </div>
</section>

<!-- virtual_league page -->
<section class="pages" id="virtual_league">
  <!-- it will contain the virtual current match and ongoing score0 -->
  <div class="virtual_top">
      <div class="virtual_score">
        <span>0</span>
        <span>0</span>
      </div>
  </div>
  <div class="virtual_bottom">
    <h3>Ongoing <span style="color : blue">Virtual Match</span></h3><br>
    <div class="match-card">
      <div class="league" class="league">
        <h3>league</h3>
      </div>
      <div class="teams-section">
        <div class="match-info team-1">
          <h4>team first</h4>
        </div>
        <div class="match-info match-time">
          <h4>4:00</h4>
          <h4>19/01/22</h4>
        </div>
        <div class="match-info team-2">
          <h4>team second</h4>
        </div>
      </div>

    </div>
  </div>

</section>

<!-- video tutorial -->
<section class="pages slider-popup" id="tutorial">
  <div class="background">
  </div>
</section>

<section class="pages slider-popup" id="promotion">
  <div class="promotion-back">

  </div>
  <div class="promotion-back">

  </div>
  <div class="promotion-back">

  </div>
  <div class="promotion-back">

  </div>
  <div class="promotion-back">

  </div>

  <div class="promotion-back">

  </div>
</section>

<section class="pages" id="spinner">
  <div class="aff-cut-box">
    <ion-icon name="chevron-back-outline"></ion-icon>Back
  </div>
  <div class="wrapper">
  <div class="container">
    <canvas id="wheel"></canvas>
    <button id="spin-btn">Spin</button>
    <img src="../photos/spinner-arrow-.svg" alt="spinner-arrow" />
  </div>
  <div id="final-value">
    <p>Click On The Spin Button To Start</p>
  </div>
</div>
</section>

<section class="pages" id="profile">

  <div class="profile_top">
     <div class="profile_user_info">
       <span class="vip s_vip"id="vip">VIP 0</span>
       <h3 class="s_name userName">Hey there</h3>
     </div>
     <div class="profile_user_info">
       <span>Main wallet</span>
       <span class="s_balance">0.000</span>
     </div>
     <div class="profile_top_bottom grid_dual_col">
       <div class="profile_trade">
         <span>Unsettled Trade</span>
         <span>0.00</span>
       </div>
       <div class="profile_volume">
         <span>Volume</span>
         <span>0.00</span>
       </div>
     </div>

  </div>
  <div class="profile_middle grid_dual_col">
    <span id="deposit_btn">DEPOSIT</span>
    <span id="withdraw_btn">WITHDRAW</span>
  </div>
  <div class="profile_bottom">

    <div class="prof_bottom profile_info">
      <i class="fa-solid fa-address-card"></i>
      <span>info</span>
    </div>

    <div class="prof_bottom profile_info">
      <i class="fa-solid fa-building-columns"></i>
      <span>Account</span>
    </div>
    <div class=" profile_info">
      <i class="fa-solid fa-headset"></i>
      <span>C.S.</span>
    </div>
    <div class="prof_bottom profile_info">
      <i class="fa-solid fa-gear"></i>
      <span>Setting</span>
    </div>
    <div class="prof_bottom profile_info">
      <i class="fa-solid fa-download"></i>
      <span>Download</span>
    </div>
    <div class="prof_bottom profile_info">
      <i class="fa-solid fa-money-bills"></i>
      <span>Payment</span>
    </div>
    <div class="prof_bottom about_us profile_info">
      <span></span>
    </div>
    <div class="prof_bottom profile_info">
      <i class="fa-solid fa-money-bill-transfer"></i>
      <span>withdraw</span>
    </div>
  </div>

<!-- creating the profile_bottom_popups -->

  <section class="p-f-bottom_pops profile_pops" id="user_info">
    <div class="aff-cut-box">
      <ion-icon name="chevron-back-outline"></ion-icon>Back
    </div>
    <div class="p-f-similar">

      <div class="user_info_box">
        <div >
          <label>Your Name</label>
          <span class="s_name">Hey there</span>
        </div>
        <div>
          <label>withdrawal Code</label>
          <span>xxxx <button class="user_change_btn"> > </button></span>
        </div>
        <div>
          <label>Password</label>
          <span>xxxx<button class="user_change_btn"> > </button></span>
        </div>
        <div>
          <label>Phone Number</label>
          <span>xxxx</span>
        </div>
      </div>

    </div>

    <!-- popups for user_info_change -->
    <section id="change_withdraw" class="profile_pops user_change_pages">

      <div class="change_box">

        <h3>Change Withdraw Code.</h3>
        <div class="change_lebels">
          <span>Previous code</span>
          <input type="number"placeholder="XXXX">
        </div>
        <div class="change_lebels">
          <span>New withdraw code</span>
          <input type="number"placeholder="XXXX">
        </div>
        <div class="change_lebels">
          <span>Enter again</span>
          <input type="password"placeholder="XXXX">
        </div>
        <div class="deposit_buttons">
          <span>Save</span>
          <span class="info_cancel_btn">Cancel</span>
        </div>
      </div>

    </section>

    <section id="change_password" class="profile_pops user_change_pages">

      <div class="change_box">

        <h3>Change password.</h3>
        <div class="change_lebels">
          <span>Previous password</span>
          <input type="text"placeholder="XXXX">
        </div>
        <div class="change_lebels">
          <span>New password</span>
          <input type="text"placeholder="XXXX">
        </div>
        <div class="change_lebels">
          <span>Enter again</span>
          <input type="password"placeholder="XXXX">
        </div>
        <div class="deposit_buttons">
          <span>Save</span>
          <span class="info_cancel_btn">Cancel</span>
        </div>
      </div>

    </section>

    <section id="change_number" class="profile_pops
      user_change_pages">
     <div class="change_box">

       <h3>Change Number.</h3>
       <div class="change_lebels">
         <span>Previous number</span>
         <input type="number"placeholder="XXXX">
       </div>
       <div class="change_lebels">
         <span>New number.</span>
         <input type="number"placeholder="XXXX">
       </div>
       <div class="deposit_buttons">
         <span>Save</span>
         <span class="info_cancel_btn">Cancel</span>
       </div>

     </div>

    </section>

  </section>

  <section class="p-f-bottom_pops profile_pops" id="bank_details">
    <div class="aff-cut-box">
      <ion-icon name="chevron-back-outline"></ion-icon>Back
    </div>
    <div class="withdraw_card deposit_amm_choose">
      <div class="card">
        <span>Bank Name</span>
        <span>*** *** *** <span>8989</span></span>
      </div>
    </div>
    <p>Note* You can only add details once.</p>
    <div class="card_edits">
      <span>Add Bank Details</span>
      <button id="add_bank_info" name="button">ADD +</button>
    </div>
  <!-- input-box for bank details -->
    <section class="profile_pops" id="bank_detail_inpt">
      <div class="bank_inpt_box">

        <label for="Bank_name">Bank Name</label>
        <input type="text" name="Bank_name" value="">
        <label for="your_name">Your Name</label>
        <input type="text" name="your_name" value="">
        <label for="acc_num">Account Number</label>
        <input type="number" name="Bank_name" value="">
        <label for="Bank_name">IFSC Code</label>
        <input type="text" name="Bank_name" value="">

        <div class="deposit_buttons">
          <span>Save</span>
          <span id="bank_inpt_cancel">Cancel</span>
        </div>
      </div>
    </section>

  </section>

  <section class="p-f-bottom_pops profile_pops" id="settings">
    <div class="aff-cut-box">
      <ion-icon name="chevron-back-outline"></ion-icon>Back
    </div>
    <div class="p-f-similar">

    </div>

  </section>

  <section class="p-f-bottom_pops profile_pops" id="download">
    <div class="aff-cut-box">
      <ion-icon name="chevron-back-outline"></ion-icon>Back
    </div>
    <div class="p-f-similar">

    </div>
  </section>

  <section class="p-f-bottom_pops profile_pops" id="payment">
    <div class="aff-cut-box">
      <ion-icon name="chevron-back-outline"></ion-icon>Back
    </div>
    <div class="p-f-similar">
      <div id="all_withdrawals">
        <h3>Withdrawal's</h3>

        <div class="payment_card">
          <div class="pay_card_top">
            <span>Withdrawal</span>
            <span><i class="fa-solid fa-circle withdraw_status"></i>
            status</span>
          </div>
          <div class="pay_card_bottom">
            <p>₹<span class="s_balance">0.00</span></p>
            <span>00/00/2022</span>
          </div>
        </div>
        <div class="payment_card">
          <div class="pay_card_top">
            <span>Withdrawal</span>
            <span><i class="fa-solid fa-circle withdraw_status"></i>
            status</span>
          </div>
          <div class="pay_card_bottom">
            <p>₹<span>0.00</span></p>
            <span>00/00/2022</span>
          </div>
        </div>
        <div class="payment_card">
          <div class="pay_card_top">
            <span>Withdrawal</span>
            <span><i class="fa-solid fa-circle withdraw_status"></i>
            status</span>
          </div>
          <div class="pay_card_bottom">
            <p>₹<span>0.00</span></p>
            <span>00/00/2022</span>
          </div>
        </div>
        <div class="payment_card">
          <div class="pay_card_top">
            <span>Withdrawal</span>
            <span><i class="fa-solid fa-circle withdraw_status"></i>
            status</span>
          </div>
          <div class="pay_card_bottom">
            <p>₹<span>0.00</span></p>
            <span>00/00/2022</span>
          </div>
        </div>
        <div class="payment_card">
          <div class="pay_card_top">
            <span>Withdrawal</span>
            <span><i class="fa-solid fa-circle withdraw_status"></i>
            status</span>
          </div>
          <div class="pay_card_bottom">
            <p>₹<span>0.00</span></p>
            <span>00/00/2022</span>
          </div>
        </div>
      </div>
      <div id="all_deposits">
        <h3>Deposit's</h3>
        <div class="payment_card">
          <div class="pay_card_top">
            <span>Deposit</span>
          </div>
          <div class="pay_card_bottom">
            <p>₹<span>0.00</span></p>
            <span>00/00/2022</span>
          </div>
        </div>
        <div class="payment_card">
          <div class="pay_card_top">
            <span>Deposit</span>
          </div>
          <div class="pay_card_bottom">
            <p>₹<span>0.00</span></p>
            <span>00/00/2022</span>
          </div>
        </div>
        <div class="payment_card">
          <div class="pay_card_top">
            <span>Deposit</span>
          </div>
          <div class="pay_card_bottom">
            <p>₹<span>0.00</span></p>
            <span>00/00/2022</span>
          </div>
        </div>
        <div class="payment_card">
          <div class="pay_card_top">
            <span>Deposit</span>
          </div>
          <div class="pay_card_bottom">
            <p>₹<span>0.00</span></p>
            <span>00/00/2022</span>
          </div>
        </div>
        <div class="payment_card">
          <div class="pay_card_top">
            <span>Deposit</span>
          </div>
          <div class="pay_card_bottom">
            <p>₹<span>0.00</span></p>
            <span>00/00/2022</span>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="p-f-bottom_pops profile_pops" id="about">
    <div class="aff-cut-box">
      <ion-icon name="chevron-back-outline"></ion-icon>Back
    </div>
    <div class="p-f-similar">

    </div>
  </section>

  <section class="p-f-bottom_pops profile_pops" id="withdrawals">
    <img src="../photos/Twithdraw.jpg" width="100%" alt="">
    <div class="aff-cut-box">
      <ion-icon name="chevron-back-outline"></ion-icon>Back
    </div>
    <div class="withdraw_background">
      <h3 id="withdraw_ammount">000.00</h3>
    </div>
  </section>

<!-- proofile_bottom-popups ends here -->

  <section class="profile_pops" id="deposit">

    <div class="deposit_user_info">
      <i class="fa-regular fa-circle-user"></i>
      <span>Hey There</span>
    </div>
    <div class="deposit_prev_balance">
      <span>Your balance</span>
      <h2 class="s_balance">₹ 0.00</h2>
    </div>
    <div class=" deposit_upi_usdt profile_middle grid_dual_col">
      <span id="upi_btn">UPI</span>
      <span id="usdt_btn">USDT</span>
    </div>
    <div class="deposit_input">
      <h2>Deposit</h2>
      <input id="upi_input"type="number"placeholder="Ammount" name="deposit_ammount" value = "">
      <div class="deposit_amm_choose">
        <span class="udb">1000</span>
        <span class="udb">2000</span>
        <span class="udb">3000</span>
        <span class="udb">4000</span>
      </div>
    </div>
    <div class="deposit_bottom">
      <h3>Note* Deposit a minimumm of 1000 to avail the offers !</h3>
      <div class="deposit_buttons">
        <span id="deposit_procede">proceed</span>
        <span id="deposit_cancel">Cancel</span>
      </div>
    </div>

  </section>

  <section class="profile_pops" id="usdt_page">

      <div class="deposit_user_info">
        <i class="fa-regular fa-circle-user"></i>
        <span>Hey There</span>
      </div>
      <div class="deposit_prev_balance">
        <span>Your balance</span>
        <h2 class="s_balance">₹ 0.00</h2>
      </div>
      <div class="usdt_qr_box">

      </div>
      <div class="trc_number">
       <h3 style="border : 1px solid white;">Chain name - TRC 20</h3>
       <h3>Wallet address :</h3>
        <div>
          <input disabled id="trc_text" value="TNg4a3pYWVXdi9DFamW78yMS9LiGj9q7gU"></input>
          <span id="trc_btn"><i class="fa-regular fa-copy"></i></span>
        </div>
      </div>
      <div class="deposit_input">
        <h2>Deposit</h2>
        <input id="trc_input" type="number"placeholder="Ammount" name="trc_deposit" value = "">
        <div id="trc_inpt_btns" class="deposit_amm_choose">
          <span class = "tdb">$ 10</span>
          <span class = "tdb">$ 30</span>
          <span class = "tdb">$ 60</span>
          <span class = "tdb">$ 90</span>
        </div>
      </div>
      <div class="usdt withdraw_res_bottom">
        <p>Upload a screenshort of payment .</p>
        <input type="file" name="" value="">
        <!-- <div class="withdraw_res_done_btn">
          <span id="usdt_done_btn">SEND</span>
        </div> -->
        <div class="deposit_buttons">
          <span id="usdt_done_btn">Request</span>
          <span id="usdt_cancel">Cancel</span>
        </div>

      </div>

  </section>

  <section class="profile_pops" id="withdraw">
    <div class="deposit_user_info">
      <i class="fa-regular fa-circle-user"></i>
      <span>Hey There</span>
    </div>
    <div class="deposit_prev_balance">
      <span>Your balance</span>
      <h2 class="s_balance">₹ 0.00</h2>
    </div>
    <div class="deposit_input">
      <h2>Withdraw</h2>
      <input type="number"placeholder="Ammount" name="withdraw_ammount">
      <div class="withdraw_card deposit_amm_choose">
        <div class="card">
          <span>Bank Name</span>
          <span>*** *** *** <span>8989</span></span>
        </div>
      </div>
      <div class="deposit_bottom">
        <h4>Note* We charge 10% as a settelment fee !</h4>
        <h4>We have a withdrawal limit of 1 per day</h4>
        <div class="deposit_buttons">
          <span id="withdraw_request">Request</span>
          <span id="withdraw_cancel">Cancel</span>
        </div>
      </div>
    </div>
  </section>

  <section class="profile_pops" id="withdraw_response">
    <div class="withdraw_res_box">

    </div>
    <div class="withdraw_res_bottom">
      <p id="pay_res"></p>
      <div class="withdraw_res_done_btn">
        <span id="withdraw_res_btn">DONE</span>
      </div>
    </div>
  </section>

  <section class="profile_pops" id="privilage_page">
    <div class="aff-cut-box">
      <ion-icon name="chevron-back-outline"></ion-icon>Back
    </div>
    <div class="privilage_top">
      <div class="priv_top_name">
        <span class="vip">VIP 0</span>
        <span>Hey there</span>
      </div>
      <div class="fake_box">
        <span></span>
        <span class="vip">VIP 0</span>
      </div>
      <div class="priv_top_info">
        <span>Deposit</span>
        <div>
          <span>0</span>/
          <span>2000</span>
        </div>
      </div>
      <div class="fake_box">
        <span></span>
        <span class="vip">VIP 0</span>
      </div>
      <div class="priv_top_info">
        <span>Trade</span>
        <div>
          <span>0</span>/
          <span>2000</span>
        </div>
      </div>

    </div>
    <div class="privilage_middle">
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-bg swiper-slide">
            <img src="../photos/Vip1.jpg" alt="" />
            <div class="swiper-top">
              <h3>VIP 1</h3>
            </div>
            <div class="swiper-bottom">
              <p>
                <span>Promotion recharge </span>
                <span class="priv_value">6999</span>
              </p>
              <p> <span>Promotion serial number </span><span class="priv_value">13999</span> </p>
             </div>
          </div>
          <div class="swiper-bg swiper-slide">
            <img src="../photos/Vip2.jpg" alt="" />
            <div class="swiper-top">
              <h3>VIP 2</h3>
            </div>
            <div class="swiper-bottom">
              <p>
                <span>Promotion recharge </span>
                <span class="priv_value">13999</span>

              </p>
              <p>
                <span>Promotion serial number </span>
                <span class="priv_value">26999</span>

              </p>
             </div>
          </div>
          <div class="swiper-bg swiper-slide">
            <img src="../photos/Vip3.jpg" alt="" />
            <div class="swiper-top">
              <h3>VIP 3</h3>
            </div>
            <div class="swiper-bottom">
              <p> <span>Promotion recharge </span><span class="priv_value">26999</span> </p>
              <p> <span>Promotion serial number </span><span class="priv_value">52999</span> </p>
             </div>
          </div>
          <div class="swiper-bg swiper-slide">
            <img src="../photos/Vip4.jpg" alt="" />
            <div class="swiper-top">
              <h3>VIP 4</h3>
            </div>
            <div class="swiper-bottom">
              <p> <span>Promotion recharge </span><span class="priv_value">52999</span> </p>
              <p> <span>Promotion serial number </span><span class="priv_value">104999</span> </p>
             </div>
          </div>
          <div class="swiper-bg swiper-slide">
            <img src="../photos/Vip5.jpg" alt="" />
            <div class="swiper-top">
              <h3>VIP 5</h3>
            </div>
            <div class="swiper-bottom">
              <p> <span>Promotion recharge </span><span class="priv_value">104999</span> </p>
              <p> <span>Promotion serial number </span><span class="priv_value">208999</span> </p>
             </div>
          </div>
        </div>
      </div>
    </div>
    <div class="privilage_bottom">
      <div class="privilage_info">

        <div class="priv_info_box">
          <span>1</span>
          <p>Number of withdrawal's per day.</p>
        </div>
        <div class="priv_info_box">
          <span class="priv-info-change">1000</span>
          <p>Minimum withdrawal ammount.</p>
        </div>
        <div class="priv_info_box">
          <span class="priv-info-change">2100</span>
          <p>Maximum withdrawal ammount.</p>
        </div>

      </div>
    </div>
  </section>

</section>

<!-- </section> -->

</body>

</html>
