<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://checkout.stripe.com/checkout.js" defer></script>
    <script>
      let p_key = '{{PUBLIC_KEY}}'
    </script>
    <script src="../js/test.js" charset="utf-8" defer></script>
  </head>
  <body>

    <form>
      <label for="name">NAME</label>
      <input type="text" name="name" value="{{txnid}}" />

        <label for="amount">Amount</label>
        <input type="number" name="amount" value="" />

      <button type="button" name="button">SUBMIT</button>
    </form>

  </body>
</html>
