!<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Pay u integration</title>
    <script src="thejs.js" defer charset="utf-8"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" >

    <script id="bolt" src="https://sboxcheckout-static.citruspay.com/bolt/run/bolt.min.js" bolt-
color="#1d2d6d" bolt-logo="<image path>"></script>

  </head>

<body>

  <form action='/payment_gateway/payumoney' method='post'>

   <input  name="key" type="text" value="6BFPjU" >
   <input  name="txnid" type="text" value="t6svtqtjRdl4ws" >
   <input  name="productinfo" type="text" value="iPhone" >
   <input  name="amount" value="10" type="text" >
   <input  name="email" type="text" value="vkv9162871357@gmail.com" >
   <input  name="firstname" type="text" value="Ashish" >
   <input  name="lastname" value="Kumar" type="text" >
   <input  name="phone" value="9988776655" type="text">

   <input id = "submit" type="submit" value="submit">

</form>
  </body>
</html>
